@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

body {
  @apply text-[#1E293B] bg-[#FAF9F6] selection:bg-[#E8A5B8] selection:text-white;
}

